<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OEscobar_Blog::blog"
             title="Blog (OEscobar)"
             module="OEscobar_Blog"
             sortOrder="80"
             parent="Magento_Backend::content"
             resource="OEscobar_Blog::posts"/>

        <add id="OEscobar_Blog::posts"
             title="Posts"
             module="OEscobar_Blog"
             sortOrder="10"
             parent="OEscobar_Blog::blog"
             action="oescobar_blog/post/index"
             resource="OEscobar_Blog::posts"/>
    </menu>
</config>
