<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="oescobar_blog_post_listing_data_source" xsi:type="string">OescobarBlogPostCollection</item>
                <item name="oescobar_blog_post_comments_listing_data_source" xsi:type="string">OescobarBlogCommentCollection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="OescobarBlogPostCollection"
                 type="OEscobar\Blog\Ui\DataProvider\Post\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">oescobar_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">OEscobar\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <virtualType name="OescobarBlogCommentCollection"
                 type="OEscobar\Blog\Ui\DataProvider\Comment\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">oescobar_blog_comment</argument>
            <argument name="resourceModel" xsi:type="string">OEscobar\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>

    <preference for="OEscobar\Blog\Api\PostRepositoryInterface"
                type="OEscobar\Blog\Model\PostRepository"/>
    <preference for="OEscobar\Blog\Api\CommentRepositoryInterface"
                type="OEscobar\Blog\Model\CommentRepository"/>

    <preference for="OEscobar\Blog\Api\Data\PostSearchResultsInterface"
                type="OEscobar\Blog\Model\PostSearchResults"/>
    <preference for="OEscobar\Blog\Api\Data\CommentSearchResultsInterface"
                type="OEscobar\Blog\Model\CommentSearchResults"/>

    <preference for="OEscobar\Blog\Api\Data\PostInterface"
                type="OEscobar\Blog\Model\Post"/>
    <preference for="OEscobar\Blog\Api\Data\CommentInterface"
                type="OEscobar\Blog\Model\Comment"/>
</config>
