<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">B
    <module name="OEscobar_Blog" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
            <module name="Magento_Authorization"/>
            <module name="Magento_Webapi"/>
        </sequence>
    </module>
</config>
